
    * {
        box-sizing: border-box;
    }
    .main-container {
        width: 520px;
        background-color: #f7f7f7;
        padding: 15px 5px; 
        position: relative;
    }
    .press {
        display: block;
        height: 32px;
        width: 32px;
        background-image: url('print.png');
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .main-btn {
        display: block;
        color: #fff;
        padding: 7px 10px 7px 10px;
        -webkit-appearance: none;
        width: 150px;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
        border: 1px solid rgba(87, 121, 63, .8);
        border-radius: 3px;
        background-clip: padding-box;
        background-color: #90b575;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .25);
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .15) -17%, rgba(255, 255, 255, .15) 117%);
    }
    td {
        border: 2px solid #96B97D;
    }
    .main-number {
        height: 35px;
        padding: 5px 3%;
        width: 510px;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        border-radius: 3px;
        color: #000;
        font-weight: normal;
        font-size: 16px;
        outline: none;
        margin: 10px 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    p {
        margin: 5px 1.5%;
        font-weight: 400;
        font-size: 16px; 
    }

    span {
        font-size: 18px;
        display: block;
        text-align: right;
        line-height: 20px;
    }

    .block-result {
        margin-top: 20px;
        position: relative;
        border-top: 1px solid #bbb;
        border-left: 1px solid #bbb;
        background-image: linear-gradient(90deg, transparent 735px, #ED82AD 735px, #ED82AD 738px, transparent 738px), linear-gradient(#bbb 1px, transparent 0px), linear-gradient(90deg, #bbb 1px, transparent 0px);
        background-size: 100% 100%, 20px 20px, 20px 20px;
        background-position: 0 0, -1px -1px, -1px 1px;
        max-height: 365px;
        width: 501px;
        padding: 20px;
        overflow-x: auto;
    }

    .block {
        min-width: 43px;
    }

    .n1, .n2, .n3, .n4 {
        padding: 2px;
    }

    .n1 {
        border-width: 0 3px 0 0;
        border-color: #96B97D;
        border-style: solid;
        min-height: 20px;

    }

    .n2 {
        border-width: 0 3px 0 0;
        border-color: #96B97D;
        border-style: solid;
        min-height: 20px;
        padding: 2px;
    }
    .n2 span {
        border: 2px solid red;
        padding: 2px;     
    }
    .n3 {
        border-width: 0 0 3px 0;
        border-color: #96B97D;
        border-style: solid;
        min-height: 20px;
    }

    .wrp-block {
        display: flex;
        position: relative;
        min-height: 40px;
        top: 0;
        left: 0;
    }

    .p1 {
        text-align: left;
        padding-left: 20px;
    }

    .errors {
        color: red;
        padding: 5px;
        text-transform: uppercase;
        border: 1px solid red;
    }

    .print-btn {
        width: 10px;
        height: 10px;
        background-color: green;
    }
    h4 {
        font-size: 20px;
        text-transform: uppercase;
        margin: 0;
        color: #96B97D;
    }
    .step{
        text-transform: uppercase;
        font-weight: 700;
    }
    .l1 span{
        display: inline-block;
    }
    .b_result{ 
        
    }
    .span-text {
        display: inline-block;
    }